<style>
    body {
        background: white !important;
    }
</style>
<div class="login_wrapper">
    <div class="animate form login_form">
        <img src="images/chamikara_logo.jpg" width="100%" height="100%"/>
        <section class="login_content">
            <form name="loginForm" class="form-layout" ng-submit="doLogin(loginForm)" novalidate>
                <h5>Login to your account</h5>
                <div role="alert" class="alert alert-danger alert-dismissible fade in" ng-show="errorMsg">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button" >{{errorMsg}}<span aria-hidden="true">×</span>
                    </button>

                </div>
                <div>
                    <input type="text" class="form-control input-lg" placeholder="User Name"
                           ng-model="login.username" ng-maxlength="55" ng-minlength="5">

                </div>
                <div>
                    <input type="password" class="form-control input-lg" placeholder="Password"
                           ng-model="login.password" ng-maxlength="55" ng-minlength="6">
                </div>
                <div>
                    <button class="col-md-12 btn btn-success btn-lg" href="index.html">Log in</button>
                    <a class="reset_pass" href="#">Lost your password?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">

                    <div class="clearfix"></div>
                    <br/>

                    <div>
                        <h1><i class="fa fa-paw"></i> Chamikara</h1>
                        <p>©2016 All Rights Reserved.</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>