<div class="content-wrapper body-while" ng-controller="formCreateController">
    <section class="content-header">
        <h1>
            Employee Form
            <small>Create</small>
        </h1>
    </section>
    <section class="content">
        <div class="box-default">
            <div class="alert alert-success" ng-show="successStatus">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span class="success-message-container"></span>
            </div>
            <div class="alert alert-error" ng-show="errorStatus">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span class="error-message-container"></span>
            </div>
            <form id="branchAdd" name="branchAdd" class="form-horizontal" ng-submit="addNewBranch(branchAdd.$valid)"
                  novalidate autocomplete="off" confirm-on-exit>
                <div class="box-body">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="branch_name">Form Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="branch_name" placeholder="Form Name"
                                       id="branch_name" ng-model="branch.branch_name" required ng-maxlength="55" ng-minlength="3">
                                <span  class="form-error-msg">
                                    <p ng-show="branchAdd.branch_name.$touched && branchAdd.branch_name.$error.required">Form Name is required.</p>
                                    <p ng-show="branchAdd.branch_name.$touched && branchAdd.branch_name.$error.minlength">The form name must be at least 3 characters.</p>
                                    <p ng-show="branchAdd.branch_name.$touched && branchAdd.branch_name.$error.maxlength">The form name may not be greater than 55 characters.</p>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="address1">Description</label>
                            <div class="col-md-9">
                                <textarea type="text" class="form-control" name="address1" placeholder="Description"
                                       id="address1" ng-model="branch.address1" required ng-maxlength="55" ng-minlength="3"></textarea>
                                <span  class="form-error-msg">
                                    <p ng-show="branchAdd.address1.$touched && branchAdd.address1.$error.required">Description is required.</p>
                                    <p ng-show="branchAdd.address1.$touched && branchAdd.address1.$error.minlength">The description must be at least 3 characters.</p>
                                    <p ng-show="branchAdd.address1.$touched && branchAdd.address1.$error.maxlength">The description may not be greater than 55 characters.</p>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="box-default btn-toolbar col-md-6">
                            <hr>
                            <a href="/branches/list" class="btn btn-danger pull-right"><i class="fa fa-ban" aria-hidden="true"></i>
                                Cancel
                            </a>

                            <button class="btn btn-success pull-right" ng-disabled="branchAdd.$invalid&&!successStatus"><i
                                    class="fa fa-floppy-o" aria-hidden="true"></i>
                                Add Fields
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </section>
</div>
