<div class="content-wrapper box-default body-while" ng-controller="employeeListController">
    <section class="content-header">
        <div class="col-md-12">
            <h1>
                Employees
                <small>Details</small>
            </h1>
            <hr/>
            <div class="col-md-12 pull-left">

                <div class="pull-right">
                    <a href="/employee/add" class="btn btn-block btn-success">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Employee</a>
                </div>
                <div class="box-tools pull-left" style="width: 50%;">
                    <div class="input-group input-group">
                        <input type="text" placeholder="Search" class="form-control btn-block pull-right"
                               name="table_search">

                        <div class="input-group-btn">
                            <button class="btn btn-block btn-primary btn-flat" type="submit"><i
                                    class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-default">
                    <div class="box-header">
                        <h3 class="box-title"></h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="" class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>EPF No</th>
                                <th>Full Name</th>
                                <th>NIC</th>
                                <th>BirthDay</th>
                                <th>Gender</th>
                                <th>Phone Number</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="emp in employeeList" >
                                <td class="td-txt-align"><img class="employee-img-radius" src="images/img.jpg" width="50px" height="50px">
                                </td>
                                <td class="td-txt-align">{{emp.epf}}</td>
                                <td class="td-txt-align">{{emp.name}}</td>
                                <td class="td-txt-align">{{emp.nic_num}}</td>
                                <td class="td-txt-align">{{emp.birthday}}</td>
                                <td class="td-txt-align">{{emp.gender}}</td>
                                <td class="td-txt-align">{{emp.mobile_phone}}</td>
                                <td width="15%" >
                                    <a href="#" class="btn btn-success  btn-flat action-icon"><i
                                            class="fa fa-user" aria-hidden="true"></i> </a>
                                    <a href="/employees/edit/{{emp.id}}" class="btn btn-info  btn-flat action-icon" title="Edit Employee"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                                    <a href="" class="btn btn-danger  btn-flat action-icon" title="Delete Employee"><i class="fa fa-trash-o"
                                                                                   aria-hidden="true"></i></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <!--<ul class="pagination pagination no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li ng-repeat="pages in branchTablePages"><a href="#"
                                                                         ng-click="getBranches(pages)">{{pages}}</a>
                            </li>
                            <li><a href="#">»</a></li>
                        </ul>-->
                        <uib-pagination ng-show="true" max-size="totalItems > perPage" previous-text="&lsaquo;"
                                        next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;"
                                        ng-change="getEmployees(nextPage)"
                                        ng-show="true" total-items="totalItems" ng-model="params.page"
                                        items-per-page="perPage"
                                        class="pagination pr-search-pagination pull-right" boundary-link-numbers="true">
                        </uib-pagination>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>